@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

*{
    /* Cositas basicas */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Mi Colores */
    --Dorado: #E5B80B ; /* Cambiado a un dorado más brillante */
    --DoradoOscuro: rgb(255,215,0) ; /* Cambiado a un dorado oscuro más agradable */
    --Negro: #1A1A1A;
    --Blanco: #FAFAFA;
    /* Mi Tipografía */
    --txtTitulo: "Chivo";
    --txtSubTitulos: "Kanit";
    --txtNumerosParraffos: "Martian Mono";

    /* Scroll */
    scroll-behavior: smooth;
}

body{
    background-color: var(--Negro);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--DoradoOscuro);
    color: var(--Negro);
    width: 100%;
}

.marca{
    font-family: var(--txtTitulo);
    font-size: 2rem;
    margin-left: 10px;
    font-weight: bold;
}

.titulo-header{
    font-family: var(--txtTitulo);
    font-size:  3rem;
    font-weight: bold;
}

.opciones{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-right:  10px;
    padding: 5px;
    
}

.titulo-fiiltro{
    font-family: var(--txtSubTitulos);
    font-size: 2rem;
    padding: 10px;
    font-weight: bold;
}

#filtro{
    font-family: var(--txtSubTitulos);
    font-size:  20px;
    border-radius:  10px;
    text-align: center;
    border: none;
    background-color: var(--Negro);
    color:  var(--Blanco);
}

#carnet{
    font-size: 40px;
    margin: 0 10px;
    user-select: none;
    cursor: pointer;
    background-color: var(--Negro);
    padding: 5px;
    border-radius: 15px;
}

#planes{
    font-size: 40px;
    margin: 0 10px;
    user-select: none;
    cursor: pointer;
    background-color: var(--Negro);
    padding: 5px;
    border-radius: 15px;
}

#vistas{
    font-size: 40px;
    margin: 0 10px;
    user-select: none;
    cursor: pointer;
    background-color: var(--Negro);
    padding: 5px;
    border-radius: 15px;
}

#login{
    font-size: 40px;
    margin: 0 10px;
    user-select: none;
    cursor: pointer;
    background-color: var(--Negro);
    padding: 5px;
    border-radius: 15px;
    padding: 5px;
}

.login{
    text-decoration: none;
    color: var(--Blanco);
}

#logout{
    font-size: 40px;
    margin: 0 20px;
    user-select: none;
    cursor: pointer;
    background-color: red;
    padding: 5px;
    border-radius: 15px;
}

.logout{
    text-decoration: none;
    color: var(--Blanco);
}

.botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.carnets{
    display:  grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Columnas responsivas */
    grid-column-gap:  20px;
    grid-row-gap:  20px;
    justify-items: center;
    align-items: center; 
}

.carnet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Negro);
    width:  300px;
    border-radius:  10px;
    color:  var(--Negro);
}

.carnet-img{
    padding: 10px;
    object-fit: contain;
    border-radius:  10px;
    cursor: pointer;
}

.carnet-img img{
    width:  100%;
}

.carnet-info{
    color: var(--Negro);
}

.info{
    font-family: var(--txtNumerosParraffos);
    font-size:  1.5rem;
    padding:  5px 20px;
    text-align: center;
    font-weight: bold;
    background-color: var(--DoradoOscuro);    
    border-radius: 25px;
}

.qrs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.form-select{
    font-family: var(--txtTitulo);
    font-size:  20px;
    border-radius:  10px;
    text-align: center;
    border: none;
    background-color: var(--DoradoOscuro);
    color:  var(--Negro);
}

.fancybox__caption{
    font-family: var(--txtSubTitulos);
    font-size:  20px;
    text-align: center;
    color: var(--Blanco);
}

/* SISTEMA LOGIN Y REGISTER */

.sistemaLoginRegister{
    font-family: sans-serif;
    background-color: #19547b; /* Dark blue background from image */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container, .register-container {
    background-color: #428bca; /* Blue form background from image */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.h1Login{
    color: var(--Blanco);
}

.labelLogin{
    display: block;
    margin-bottom: 8px;
    color: var(--Blanco);
    text-align: left;
}

#descripcionCrear,
#descripcionEditar {
  resize: none;
   height: 125px; /* Ancho fijo de 400 píxeles */
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 20px); /* Adjust width for padding */
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 3px;
  box-sizing: border-box; /* To include padding in width */
}

button[type="submit"] {
  background-color: #d9edf7; /* Light blue button from image */
  color: #333; /* Dark text for button */
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #c0e0f0; /* Slightly darker hover color */
}

.links {
  margin-top: 15px;
  color: var(--Blanco);
}

.links a {
  color: var(--Blanco);
  text-decoration: none;
  margin: 0 10px;
}

.links a:hover {
  text-decoration: underline;
}

.volver-link {
  margin-top: 20px;
  color: var(--Blanco);
  display: block;
}

.volver-link a {
  color: var(--Blanco);
  text-decoration: none;
}

.volver-link a:hover {
  text-decoration: underline;
}

.titulosPlanes{
    font-family: var(--txtTitulo);
    font-size: 2rem;
    padding: 10px;
    font-weight: bold;
    color: var(--Blanco);
    display: flex;
    justify-content: center;
}

.subTitulosPlanes{
    font-family: var(--txtSubTitulos);
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bold;
    color: var(--Blanco);
    display: flex;
    justify-content: center;
}

.tituloPlanes{
    font-family: var(--txtTitulo);
    font-size: 3rem;
    font-weight: bold;
    color: var(--Blanco);
    display: flex;
    justify-content: center;
}

.descripcionPlanes{
    font-family: var(--txtSubTitulos);
    font-size: 2rem;
    font-weight: bold;
    color: var(--Blanco);
    display: flex;
    justify-content: center;
}

.imagenPlanes {
    display: block;
    margin: 0 auto;
    max-width: 95%; /* La imagen no será más ancha que su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Cubre todo el contenedor */
}

.titulo-header-planes{
    font-family: var(--txtTitulo);
    font-size: 2rem;
    font-weight: bold;
}

.infoBienvenida {
    display: flex;
    flex-direction: column;
    align-items: center;
}	

.infoComandante {
    display: flex;
    align-items: center; /* Centra verticalmente la imagen y el texto */
    justify-content: center;
    gap: 20px; /* Espacio entre la imagen y el texto */
    margin: 20px 0; /* Espacio alrededor del contenedor */
}

.imgComandante {
    width: 350px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Opcional: para bordes redondeados */
    border: 5px solid var(--DoradoOscuro); /* Opcional: borde dorado */
}

.datosComandante {
    flex: 1; /* Permite que el texto ocupe el espacio restante */
    color: white;
}

.datosComandante h2 {
    margin-top: 0; /* Elimina el margen superior del título */
    font-size: 2.5rem;
    font-family: var(--txtTitulo);
    font-weight: bold;
    padding: 10px 0px 15px 0px; 
}

.datosComandante p {
    margin: 5px 0; /* Espaciado entre los párrafos */
    font-size: 2rem;
    font-family: var(--txtTitulo);
}

/* MEDIA */

@media (max-width: 645px){
    .opciones{
        margin-left: 50px;
    }

    .titulo-header-planes{
        font-family: var(--txtTitulo);
        font-size:  1.5rem;
    }

    .marca{
        font-size: 1.5rem;
    }

    .opciones{
        margin-right:  5px;
        margin-left: 10px;
    }

    #login{
        font-size: 20px;
        margin: 0 10px;
    }

    #logout{
        font-size: 40px;
        margin: 0 10px;
    }

    #carnet{
        font-size: 20px;
        margin: 0 10px;
        user-select: none;
        cursor: pointer;
    }

    #planes{
        font-size: 20px;
        margin: 0 10px;
        user-select: none;
        cursor: pointer;
    }

    .titulo-header{
        font-size:  1.5rem;
    }

}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
    .titulo-header{
        font-size:  1rem;
    }

    .marca{
        font-size: 1rem;
    }

    .opciones{
        margin-right:  5px;
        margin-left: 10px;
    }

    .titulo-fiiltro{
        font-size: 1rem;
    }

    #filtro{
        font-size:  15px;
    }

    #login{
        font-size: 20px;
        margin: 0 10px;
    }

    #logout{
        font-size: 20px;
        margin: 0 10px;
    }

    .carnets {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Columnas más pequeñas */
        gap: 8px; /* Menor espacio entre elementos */
    }

    .carnet{
        width:  150px;
    }

    .info{
        font-size:  1rem;
    }

    .titulo-header-planes{
        font-family: var(--txtTitulo);
        font-size:  1rem;
    }

    .imagenPlanes {
        max-width: 95%; /* Asegura que la imagen no sea más ancha que el contenedor en pantallas pequeñas */
        height: auto; /* Mantiene la proporción de la imagen */
    }

    #logout{
        font-size: 30px;
        margin: 0 20px;
        user-select: none;
        cursor: pointer;
        background-color: red;
        padding: 5px;
        border-radius: 15px;
    }

    #carnet{
        font-size: 20px;
        margin: 0 10px;
        user-select: none;
        cursor: pointer;
    }

    #planes{
        font-size: 20px;
        margin: 0 10px;
        user-select: none;
        cursor: pointer;
    }
}

@media (max-width: 400px) {
    .imagenPlanes {
        max-width: 100%; /* Asegura que la imagen no sea más ancha que el contenedor en pantallas pequeñas */
        height: auto; /* Mantiene la proporción de la imagen */
    }

    .titulo-header-planes{
        font-family: var(--txtTitulo);
        font-size:  15px;
    }

    .marca{
        font-size: 15px;
    }

    .opciones{
        margin-right:  5px;
        margin-left: 10px;

    }
    
    .login{
        text-decoration: none;
        color: var(--Blanco);
        font-size: 20px;
    }

    #carnet{
        font-size: 20px;
        margin: 0 10px;
        user-select: none;
        cursor: pointer;
    }

    #planes{
        font-size: 20px;
        margin: 0 10px;
        user-select: none;
        cursor: pointer;
    }
}

@media (max-width: 400px) {
    .titulosPlanes{
        font-size: 1rem;
    }

    .subTitulosPlanes{
        font-size: 1rem;
    }

    .tituloPlanes{
        font-size: 1.5rem;
    }

    .descripcionPlanes{
        font-size: 1rem;
    }

    .titulo-header{
        font-size:  1rem;
    }

    .marca{
        font-size: 10px;
    }

    .opciones{
        margin: 0;
        padding: 0;
    }

}

@media (max-width: 320px) {
    .titulo-header-planes{
        font-family: var(--txtTitulo);
        font-size:  10px;
    }

    .titulo-header{
        font-size:  0.5rem;
    }

    .marca{
        font-size: 8px;
    }

    .opciones{
        margin-right:  5px;
        margin-left: 10px;
    }

    #filtro{
        font-size:  10px;
    }

    #logout{
        font-size: 20px;
        margin: 0 10px;
    }

    .opciones{
        margin: 0;
        padding: 0;
    }
}

/* Media Queries para responsive */
@media (max-width: 768px) {
    .infoComandante {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    
    .imgComandante {
      width: 200px;
      height: 250px;
    }
    
    .datosComandante {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .infoBienvenida {
      padding: 10px;
    }
    
    .infoComandante {
      padding: 15px;
    }
    
    .imgComandante {
      width: 180px;
      height: 220px;
    }
    
    .tituloInfoEmpleado {
      font-size: 1.3rem;
    }
    
    .datosComandante p {
      font-size: 1rem;
      margin-bottom: 12px;
    }
  }
  
  @media (max-width: 360px) {
    .imgComandante {
      width: 150px;
      height: 190px;
    }
    
    .tituloInfoEmpleado {
      font-size: 1.2rem;
    }
    
    .datosComandante p {
      font-size: 0.9rem;
    }
  }

.novisible{
    display: none;
}

/* Estilo para opciones inhabilitadas */
.disabled-option {
    opacity: 0.5; /* Hace que el elemento sea traslúcido */
    pointer-events: none; /* Deshabilita los clics */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" */
}