@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');


*{
    /* Cositas basicas */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Mi Colores */
    --AzulRey: #0454A2;
    --AzulReyOscuro: #074A85;
    --AzulCelesteClaro: #DDE9F3;
    --AzulCelestico: #4D82BE;
    --Amarillo: #FDD567;
    --AmarilloClaro: #FCDD5A;
    /* Mi Tipografía */
    --txtTitulo: "Chivo";
    --txtSubTitulos: "Kanit";
    --txtNumerosParraffos: "Martian Mono";

    /* Scroll */
    scroll-behavior: smooth;
}

body{
    background-color: var(--AzulRey);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--AzulCelestico);
    color: white;
    width: 100%;
}

.marca{
    font-family: var(--txtTitulo);
    font-size: 2rem;
    margin-left: 10px;
}

.titulo-header{
    font-family: var(--txtTitulo);
    font-size:  3rem;
}

.opciones{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-right:  10px;
    padding: 5px;
    
}

.titulo-fiiltro{
    font-family: var(--txtSubTitulos);
    font-size: 2rem;
    padding: 10px;
    font-weight: bold;
}

#filtro{
    font-family: var(--txtSubTitulos);
    font-size:  20px;
    border-radius:  10px;
    text-align: center;
    border: none;
    background-color: var(--AzulRey);
    color:  white;
}

#carnet{
    font-size: 40px;
    margin: 0 20px;
    user-select: none;
    cursor: pointer;
    background-color: var(--AzulRey);
    padding: 5px;
    border-radius: 15px;
}

#login{
    font-size: 40px;
    margin: 0 20px;
    user-select: none;
    cursor: pointer;
    background-color: var(--AzulRey);
    padding: 5px;
    border-radius: 15px;
    padding: 5px;
}

.login{
    text-decoration: none;
    color: white;
}

#logout{
    font-size: 40px;
    margin: 0 20px;
    user-select: none;
    cursor: pointer;
    background-color: red;
    padding: 5px;
    border-radius: 15px;
}

.logout{
    text-decoration: none;
    color: white;
}

.botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.carnets{
    display:  grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Columnas responsivas */
    grid-column-gap:  20px;
    grid-row-gap:  20px;
    justify-items: center;
    align-items: center; 
}

.carnet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--AzulRey);
    width:  300px;
    border-radius:  10px;
    color:  white;
}

.carnet-img{
    padding: 10px;
    object-fit: contain;
    border-radius:  10px;
    cursor: pointer;
}

.carnet-img img{
    width:  100%;
}

.info{
    font-family: var(--txtNumerosParraffos);
    font-size:  1.5rem;
    padding:  5px 20px;
    text-align: center;
    font-weight: bold;
    background-color: var(--AzulCelestico) ;    
    border-radius: 25px;
}

.qrs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.form-select{
    font-family: var(--txtTitulo);
    font-size:  20px;
    border-radius:  10px;
    text-align: center;
    border: none;
    background-color: var(--AzulCelestico);
    color:  white;
}

.fancybox__caption{
    font-family: var(--txtSubTitulos);
    font-size:  20px;
    text-align: center;
    color: white;
}

/* SISTEMA LOGIN Y REGISTER */

.sistemaLoginRegister{
    font-family: sans-serif;
    background-color: #19547b; /* Dark blue background from image */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-container, .register-container {
    background-color: #428bca; /* Blue form background from image */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.h1Login{
    color: white;
}

.labelLogin{
    display: block;
    margin-bottom: 8px;
    color: white;
    text-align: left;
}

#descripcionCrear,
#descripcionEditar {
  resize: none;
   height: 125px; /* Ancho fijo de 400 píxeles */
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 20px); /* Adjust width for padding */
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 3px;
  box-sizing: border-box; /* To include padding in width */
}

button[type="submit"] {
  background-color: #d9edf7; /* Light blue button from image */
  color: #333; /* Dark text for button */
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #c0e0f0; /* Slightly darker hover color */
}

.links {
  margin-top: 15px;
  color: white;
}

.links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.links a:hover {
  text-decoration: underline;
}

.volver-link {
  margin-top: 20px;
  color: white;
  display: block;
}

.volver-link a {
  color: white;
  text-decoration: none;
}

.volver-link a:hover {
  text-decoration: underline;
}

.titulosPlanes{
    font-family: var(--txtTitulo);
    font-size: 2rem;
    padding: 10px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
}

.subTitulosPlanes{
    font-family: var(--txtSubTitulos);
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
}

.tituloPlanes{
    font-family: var(--txtTitulo);
    font-size: 3rem;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
}

.descripcionPlanes{
    font-family: var(--txtSubTitulos);
    font-size: 2rem;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
}

.imagenPlanes {
    display: block;
    margin: 0 auto;
    max-width: 95%; /* La imagen no será más ancha que su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Cubre todo el contenedor */
}

.titulo-header-planes{
    font-family: var(--txtTitulo);
    font-size: 2rem;
}




/* MEDIA */

@media (max-width: 645px){
    .opciones{
        margin-left: 50px;
    }

    .titulo-header-planes{
        font-family: var(--txtTitulo);
        font-size:  1.5rem;
    }

    .marca{
        font-size: 1.5rem;
    }

    .opciones{
        margin-right:  5px;
        margin-left: 10px;
    }

    #login{
        font-size: 20px;
        margin: 0 10px;
    }

    #logout{
        font-size: 40px;
        margin: 0 10px;
    }

    #carnet{
        font-size: 40px;
        margin: 0 20px;
        user-select: none;
        cursor: pointer;
        background-color: var(--AzulRey);
        padding: 5px;
        border-radius: 15px;
    }
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
    .titulo-header{
        font-size:  1.5rem;
    }

    .marca{
        font-size: 1rem;
    }

    .opciones{
        margin-right:  5px;
        margin-left: 10px;
    }

    .titulo-fiiltro{
        font-size: 1rem;
    }

    #filtro{
        font-size:  15px;
    }

    #login{
        font-size: 20px;
        margin: 0 10px;
    }

    #logout{
        font-size: 20px;
        margin: 0 10px;
    }

    .carnets {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Columnas más pequeñas */
        gap: 8px; /* Menor espacio entre elementos */
    }

    .carnet{
        width:  150px;
    }

    .info{
        font-size:  1rem;
    }

    .titulo-header-planes{
        font-family: var(--txtTitulo);
        font-size:  1rem;
    }

    .imagenPlanes {
        max-width: 95%; /* Asegura que la imagen no sea más ancha que el contenedor en pantallas pequeñas */
        height: auto; /* Mantiene la proporción de la imagen */
    }

    #carnet{
        font-size: 30px;
        margin: 0 20px;
        user-select: none;
        cursor: pointer;
        background-color: var(--AzulRey);
        padding: 5px;
        border-radius: 15px;
    }

    #logout{
        font-size: 30px;
        margin: 0 20px;
        user-select: none;
        cursor: pointer;
        background-color: red;
        padding: 5px;
        border-radius: 15px;
    }
}

@media (max-width: 400px) {
    .imagenPlanes {
        max-width: 100%; /* Asegura que la imagen no sea más ancha que el contenedor en pantallas pequeñas */
        height: auto; /* Mantiene la proporción de la imagen */
    }

    .titulo-header-planes{
        font-family: var(--txtTitulo);
        font-size:  15px;
    }

    .marca{
        font-size: 15px;
    }

    .opciones{
        margin-right:  5px;
        margin-left: 10px;

    }

    #login{
        font-size: 20px;
        margin: 0 20px;
        user-select: none;
        cursor: pointer;
        background-color: var(--AzulRey);
        padding: 5px;
        border-radius: 15px;
    }
    
    .login{
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    #carnet{
        font-size: 20px;
        margin: 0 20px;
        user-select: none;
        cursor: pointer;
        background-color: var(--AzulRey);
        padding: 5px;
        border-radius: 15px;
    }
}


@media (max-width: 400px) {
    .titulosPlanes{
        font-size: 1rem;
    }

    .subTitulosPlanes{
        font-size: 1rem;
    }

    .tituloPlanes{
        font-size: 1.5rem;
    }

    .descripcionPlanes{
        font-size: 1rem;
    }

    .titulo-header{
        font-size:  1rem;
    }

    .marca{
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    .titulo-header-planes{
        font-family: var(--txtTitulo);
        font-size:  10px;
    }

    .titulo-header{
        font-size:  1rem;
    }

    .marca{
        font-size: 10px;
    }

    .opciones{
        margin-right:  5px;
        margin-left: 10px;
    }

    #filtro{
        font-size:  10px;
    }

    #logout{
        font-size: 20px;
        margin: 0 10px;
    }
}

.novisible{
    display: none;
}